{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-12 my-auto d-flex">
                <img class="home-img d-flex" src="media/homepage.jpg" alt="Image with vintage things">
                <h1 class="display-4 logo-font text-black shop-bg mb-0">
                    The new accessories are here
                </h1>
                <div class="shop-now shop-bg">
                    <h4 class="mb-0">
                        <a href="{% url 'products' %}" class="shop-now-btn btn btn-lg btn-black rounded-0 text-uppercase py-3 d-flex mb-0">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6 my-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            About Us
                        </h2>
                        <p class="card-text">
                            At Vint-Age, we believe in the beauty of the past. 
                            Founded out of a passion for timeless fashion and unique treasures, 
                            we curate the finest vintage items that tell a story. Each piece in 
                            our collection is carefully selected for its quality, history, and charm. 
                            Whether you're a vintage enthusiast or a curious newcomer, we invite you 
                            to explore our selection and find something truly special. Join us on this 
                            journey through time and discover the magic of vintage.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7 col-md-6 my-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Loved Our Products?
                        </h2>
                        <p class="card-text">
                            Get our latest arrivals, offers tips and much more. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
{% endblock %}