{% extends 'errors/base.html' %}
{% block content %}
{% load static %}
<div class="color-back page-500">
    <img src="{% static 'images/500.webp' %}" alt="Error Image" class="error500-image">
    <div class="footer-font text-center error-txt">
        <p class="internal-error">Internal Server Error</p>
        <p class="error-5002">The server has experienced an issue and could not complete your request. Return to <a href="{% url 'home' %}">
            <button class="btn btn-success btn-error home-link" aria-label="HomePage">Home Page</button></a></p>
    </div>
</div>
{% endblock content %}
