{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m" selected>M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fa-solid fa-chevron-left keep_shopping"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                    <form method="post" action="{% url 'add_to_wishlist' product.id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-warning rounded-0 text-uppercase mt-5">Add to Wishlist</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--- Product Reviews -->
    <div class="container-fluid reviews">
        <div class="row">
            <div class="col col-lg-6 reviews-col">
                <!-- Creating new reviews -->
                {% if user.is_authenticated %}
                <div class="card mb-4 mt-3 card-width card-border">
                    <div class="card-body">
                        <form id="reviewForm" method="POST" style="margin-top: 1.3em;">
                            <h3>Leave a review</h3>
                            <p>Posting as: {{ user.username }}</p>
                            {{ review_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="mb-5">
                    <h4 class="leave-review">Would you like to leave a review for this product?</h4>
                    <p class="login-first">Please <a href="{% url 'account_login' %}">login or register</a> first</p>
                </div>
                {% endif %}
                <!-- Displaying Reviews -->
                <div class="mb-4  mt-3 reviews-display">
                    <div class="reviews-title mt-2 ml-2">
                        <h3>Product Reviews:</h3>
                    </div>
                    <div class="ml-2 mt-2 mb-2">
                        {% for review in reviews %}
                        <div class="p-2
                                {% if not review.approved and review.author == user %}
                                faded{% elif not review.approved %} d-none{% else %} approved-review{% endif %}">
                            <p class="font-weight-bold">
                            {{ review.author }}
                            <span class="font-weight-normal">
                                {{ review.created_on }}
                            </span> wrote:
                            </p>
                            <div id="review{{ review.id }}">
                            {{ review.content | linebreaks }}
                            </div>
                            {% if not review.approved and review.author == user %}
                            <p class="approval">
                            This review is awaiting approval
                            </p>
                            {% endif %}
                            {% if user.is_authenticated and review.author == user %}
                            <button class="btn btn-review-edit mr-3" review_id="{{ review.id }}">Edit</button>
                            <button class="btn btn-review-delete" review_id="{{ review.id }}">Delete</button>
                            {% endif %}
                            <hr>
                        </div>
                        {% empty %}
                            <p>No reviews yet, be the first to leave a review.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content box-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete review?</h5>
                <button id="close-review-modal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your review? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'js/reviews.js' %}"></script>
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}

